[submodule "kx_regs"]
	path = kx_regs
	url = git@github.com:jbvalle/kx_regs.git
[submodule "kx_gpio"]
	path = kx_gpio
	url = git@github.com:jbvalle/kx_gpio.git
[submodule "kx_systick"]
	path = kx_systick
	url = git@github.com:jbvalle/kx_systick.git
[submodule "kx_mcu"]
	path = kx_mcu
	url = git@github.com:jbvalle/kx_mcu.git
